<%# locals: (post:, is_author: post.is_author?(Current.user))%>
<%= turbo_frame_tag post do %>
  <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 overflow-hidden my-4">
    <div class="p-6">
      <div class="space-y-4">
        <div class="pb-4">
          <%= turbo_frame_tag dom_id(post, :body) do %>
            <p class="mt-2 text-gray-600"><%= post.body %></p>
          <% end %>
        </div>
        <div class="pb-4 flex items-center justify-between">
          <%= render partial: "shared/likes", locals: { record: post } %>
          <%= render partial: "posts/post_actions", locals: { post: post, is_author: is_author } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
