<% content_for :title, "Posts" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%= turbo_stream_from "posts" %>

  <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 overflow-hidden my-4">
    <%= render "posts/form", post: @post %>
  </div>
  
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
  </div>

  <%= turbo_frame_tag "posts" do %>
    <%= render @posts %>
  <% end %>
</div>
